<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.FuWuMapper" >
  <resultMap id="BaseResultMap" type="com.entity.FuWu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="pubtime" property="pubtime" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="stime" property="stime" jdbcType="VARCHAR" />
    <result column="etime" property="etime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.entity.FuWu" extends="BaseResultMap" >
    <result column="miaoshu" property="miaoshu" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, experience, img, name, area, pubtime, isdel, uid, stime, etime
  </sql>
  <sql id="Blob_Column_List" >
    miaoshu
  </sql>
  <select id="getCount"  resultType="int" parameterType="java.util.Map" >
    select  count(*) from fuwu  where isdel="1" 
   <if test="name!=null ">
     and name like concat('%',#{name,jdbcType=VARCHAR},'%')
     </if>
      <if test="xueli!=null ">
     and xueli like concat('%',#{xueli,jdbcType=VARCHAR},'%')
     </if>
      <if test="fid!=null ">
     and fid =#{fid,jdbcType=VARCHAR}
     </if>
     <if test="ztype!=null ">
     and ztype =#{ztype,jdbcType=VARCHAR}
     </if>
     <if test="experience!=null ">
     and experience like concat('%',#{experience,jdbcType=VARCHAR},'%')
     </if>
  </select>
  <select id="getAll"   resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select   
    <include refid="Base_Column_List" />
   
     from fuwu where isdel="1"
    <if test="name!=null ">
     and name like concat('%',#{name,jdbcType=VARCHAR},'%')
     </if>
      <if test="xueli!=null ">
     and xueli like concat('%',#{xueli,jdbcType=VARCHAR},'%')
     </if>
      <if test="fid!=null ">
      and fid =#{fid,jdbcType=VARCHAR}
     </if>
     <if test="ztype!=null ">
     and ztype =#{ztype,jdbcType=VARCHAR} 
     </if>
     <if test="experience!=null ">
     and experience like concat('%',#{experience,jdbcType=VARCHAR},'%')
     </if>
     order by pubtime asc;
  </select> 
   <select id="getByPage" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
     select 
     <include refid="Base_Column_List" />
    from fuwu where isdel="1" 
    <if test="name!=null ">
     and name like concat('%',#{name,jdbcType=VARCHAR},'%')
     </if>
      <if test="xueli!=null ">
     and xueli like concat('%',#{xueli,jdbcType=VARCHAR},'%')
     </if>
      <if test="ztype!=null ">
     and ztype =#{ztype,jdbcType=VARCHAR} 
     </if>
      <if test="fid!=null ">
     and fid =#{fid,jdbcType=VARCHAR}
     </if>
      order by pubtime asc 
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
    
     </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fuwu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fuwu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.FuWu" >
    insert into fuwu (id, fid, experience, 
      img, name, area, pubtime, 
      isdel, uid, stime, 
      etime, miaoshu)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{experience,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{pubtime,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{stime,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{miaoshu,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.FuWu" >
    insert into fuwu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="pubtime != null" >
        pubtime,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="stime != null" >
        stime,
      </if>
      <if test="etime != null" >
        etime,
      </if>
      <if test="miaoshu != null" >
        miaoshu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null" >
        #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null" >
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="miaoshu != null" >
        #{miaoshu,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.FuWu" >
    update fuwu
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null" >
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        stime = #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null" >
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="miaoshu != null" >
        miaoshu = #{miaoshu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.FuWu" >
    update fuwu
    set fid = #{fid,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      miaoshu = #{miaoshu,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.FuWu" >
    update fuwu
    set fid = #{fid,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>